* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   background-color: rgba(240, 245, 252, 1);
}

body {
   color: rgba(61, 71, 90, 1);
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 2;
   margin: 0;
}

.btn {
   display: block;
}

a {
   color: #266bef;
   text-decoration: none;
}

a:hover {
   cursor: pointer;
   text-decoration: underline;
}

img {
   vertical-align: middle;
}

p {
   margin-top: 0;
}

h1 {
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: normal;
}

h1 {
   font-size: 2em;
   line-height: 2em;
   margin: 0;
   color: #0f42a4;
   border-bottom: 1px solid #eef2f5;
   margin-bottom: 30px;
   font-weight: 300;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

label {
   font-weight: bold;
}

textarea {
   border: 1px solid #DBDBDB;
   border: 1px solid rgba(0, 0, 0, 0.13);
   outline: none;
   padding: 10px;
   vertical-align: middle;
}

textarea {
   padding: 7px 10px;
   resize: vertical;
}

textarea {
   width: 100%;
}

textarea {
   color: rgba(61, 71, 90, 1);
}

input {
   padding: 1px 5px;
}

table {
   border-collapse: collapse;
   text-align: left;
   width: 100%;
   font-family: 'Poppins', sans-serif;
}

td,
th {
   border-color: #dadfe8;
   border-style: solid;
   padding: 8px;
}

th {
   border-width: 1px 1px 1px 1px;
   border-color: #e5e5e5;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: bold;
   white-space: normal;
   background-color: #f0f5fc;
   color: #2c4576;
   line-height: 1;
   text-transform: uppercase;
}

td {
   border-width: 1px 1px 1px 1px;
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

main {
   margin: 25px auto 0;
   padding: 0 20px;
   width: 980px;
   box-shadow: 0 0 30px -15px #000;
   padding: 0;
   background: #fff;
}

.subtle-wrap {
   background: #FFF;
   padding: 20px 30px 30px;
   overflow: hidden;
   margin-top: 25px;
}

.article-header h1 {
   text-transform: capitalize;
}

.article-body {
   margin-top: 6px;
}

.article-body {
   font-size: 14px;
   line-height: 24px;
   word-wrap: break-word;
}

.article-body img {
   border: 1px solid #ECECEC;
   border: 1px solid rgba(0, 0, 0, 0.07);
   height: auto;
   max-width: 100%;
}

.article-body ul {
   margin: 0;
   list-style-type: none;
   list-style-position: outside;
}

.article-body li {
   margin-left: 20px;
   color: #aaa;
   transition: color 0.3s;
   /* margin-top: 10px;
   margin-bottom: 10px; */
}

.article-body li:hover {
   background-color: rgba(0, 0, 0, 0.04);
}

.article-body li input,
.article-body li select {
   transition: opacity 0.3s;
   opacity: 0.5;
}


/* Elemntos ativos quando o valor é diferente do valor default */

.article-body li.ativo {
   color: #000;
}

.article-body li.ativo input,
.article-body li.ativo select {
   opacity: 1;
}

body {
   font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
   font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
   /*width: 1200px;
   */
   width: 980px;
   margin: 0 auto;
}

.article-header h1 {
   font-size: 25px;
   font-weight: 600;
   color: #3d475a;
   /*text-transform: uppercase;
   */
   padding-bottom: 15px;
   margin-bottom: 40px;
   border-bottom: 1px solid #eef2f5;
   letter-spacing: .2px;
}

.grey-background {
   background: #f0f5fc;
   padding: 35px 30px 30px 30px;
   /* border: 1px solid #e1e9f7;
   */
   border-radius: 4px;
}

#main-container {
   height: 100%;
   position: relative;
}

.input-container {
   display: flex;
   flex-direction: row;
   vertical-align: middle;
   align-content: center;
   background-color: transparent;
   padding: 10px 5px;
   transition: background-color 0.2s;
}

.input-container:hover {
   background-color: rgba(0, 0, 0, 0.04);
   /* background-color: #e5ecf2; */
}

.input-container label {
   flex: 1;
}

.sub-grupo {
   margin-top: 10px;
   margin-bottom: 10px;
}

#botoes-controle {
   display: flex;
   align-content: space-between;
   justify-content: space-evenly;
   padding: 20px 0;
}

#botoes-controle>* {
   font-size: 20px;
   line-height: 20px;
   margin: 0;
   background: #0f42a4;
   color: #fff;
   border: 0;
   padding: 10px;
   font-weight: 300;
   border-radius: 3px;
   margin: 0 5px;
}

input[type="number"],
input[type="text"],
select {
   width: 85px;
   height: 25px;
   margin-left: 5px;
   border: 1px solid #ccc;
}

.input-container .input-value[type="text"] {
   width: 150px;
}

select {
   width: auto;
}

.grupo-otimizacao {
   display: flex;
   margin-left: 10px;
   transition: opacity 0.3s;
}

.grupo-otimizacao .first {
   border-right: 0;
}

.grupo-otimizacao .last {
   border-left: 0;
}

.grupo-otimizacao select,
.grupo-otimizacao input[type="number"],
.grupo-otimizacao input[type="text"] {
   margin: 0;
   font-size: 10px;
}

.grupo-otimizacao select {
   width: 80px;
}

.grupo-otimizacao input[type="number"],
.grupo-otimizacao input[type="text"] {
   width: 65px;
}

.article-body li.ativo .grupo-otimizacao {
   opacity: 0.5;
}

.article-body li.ativo .grupo-otimizacao.ativo {
   opacity: 1;
}

input[type="checkbox"] {
   height: 25px;
   width: 25px;
   margin: 0;
   margin-left: 5px;
}

@media (max-width: 980px) {
   .main-column,
   main {
      width: 100%;
      padding: 0;
   }
   .subtle-wrap {
      padding: 20px 10px 30px;
   }
   .article-body li {
      margin-left: 10px;
   }
   label {
      font-weight: normal;
   }
   input {
      padding: 1px 2px;
   }
   h1 {
      font-size: 1.2em;
      line-height: 1.5em;
      margin-bottom: 10px;
   }
   select {
      width: 100px;
   }
   #conteudo-formulario select,
   #conteudo-formulario input {
      font-size: 10px;
   }
   .modo-otimizacao .input-container {
      display: block;
   }
   .grupo-otimizacao {
      margin-left: 4px;
   }
   .grupo-otimizacao .optimize {
      margin-left: 2px;
   }
   .grupo-otimizacao .step {
      width: 50px!important;
   }
}

.cartoes-robos {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
}

.cartoes-robos::after {
   content: '';
   display: table;
   clear: both;
}

.cartoes-robos>.item {
   display: flex;
   padding: 1rem;
   width: 100%;
}

@media(min-width: 40rem) {
   .cartoes-robos>.item {
      width: 50%;
   }
}

@media(min-width: 56rem) {
   .cartoes-robos>.item {
      width: 33.3333%;
   }
}

.cartoes-robos>.item>.conteudo {
   background: -webkit-linear-gradient(145deg, #6aa0c7, #446b9f)!important;
   background: -o-linear-gradient(145deg, #6aa0c7, #446b9f)!important;
   background: linear-gradient(145deg, #6aa0c7, #446b9f)!important;
   border-radius: 5px;
   color: #fff;
   transition: all 0.4s ease;
   /* box-shadow: 0px 3px 8px rgba(0,0,0,.2); */
   /* box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25); */
   box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
   width: 100%;
}

.cartoes-robos>.item>.conteudo:hover {
   /* box-shadow: 0px 6px 18px rgba(0,0,0,.4); */
   /* box-shadow: 0 20px 40px -8px rgba(0,0,0,0.5); */
   box-shadow: 0 20px 40px -8px rgba(75, 72, 72, 0.5);
}

.cartoes-robos>.item>.conteudo>a {
   color: #fff;
   text-decoration: none;
   padding: 20px 10px 15px 10px;
   display: block;
   text-align: center;
}

.cartoes-robos>.item>.conteudo span {
   margin: 0;
   font-size: 22px;
   font-weight: 700;
   line-height: 125%;
   text-shadow: 0 -0.8px 0 #000;
   display: block;
}

.cartoes-robos>.item>.conteudo i {
   display: block;
   margin: 10px 20px 0 0;
}


/* BUSCADOR INICIO */

.field-container {
   position: relative;
   margin: 0;
   border: 0;
   padding: 0 1rem 0;
   margin-bottom: 1rem;
}

.icons-container {
   position: absolute;
   top: 10px;
   right: 25px;
   width: 35px;
   height: 35px;
   overflow: hidden;
}

.icon-close {
   position: absolute;
   top: 2px;
   left: 2px;
   width: 75%;
   height: 75%;
   opacity: 0;
   cursor: pointer;
   -webkit-transform: translateX(-200%);
   transform: translateX(-200%);
   border-radius: 50%;
   transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
   transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
   transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-close:before {
   content: "";
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   border: 2px solid transparent;
   border-top-color: #6078EA;
   border-left-color: #6078EA;
   border-bottom-color: #6078EA;
   transition: opacity 0.2s ease;
}

.icon-close .x-up {
   position: relative;
   width: 100%;
   height: 50%;
}

.icon-close .x-up:before {
   content: "";
   position: absolute;
   bottom: 2px;
   left: 3px;
   width: 50%;
   height: 2px;
   background-color: #6078EA;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.icon-close .x-up:after {
   content: "";
   position: absolute;
   bottom: 2px;
   right: 0px;
   width: 50%;
   height: 2px;
   background-color: #6078EA;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.icon-close .x-down {
   position: relative;
   width: 100%;
   height: 50%;
}

.icon-close .x-down:before {
   content: "";
   position: absolute;
   top: 5px;
   left: 4px;
   width: 50%;
   height: 2px;
   background-color: #6078EA;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.icon-close .x-down:after {
   content: "";
   position: absolute;
   top: 5px;
   right: 1px;
   width: 50%;
   height: 2px;
   background-color: #6078EA;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.icon-search {
   position: relative;
   top: 5px;
   left: 8px;
   width: 50%;
   height: 50%;
   opacity: 1;
   border-radius: 50%;
   border: 3px solid #c7d0f8;
   transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
   transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
   transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-search:after {
   content: "";
   position: absolute;
   bottom: -9px;
   right: -2px;
   width: 4px;
   border-radius: 3px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   height: 10px;
   background-color: #c7d0f8;
}

input[type="text"].field {
   border: 0;
   width: 100%;
   height: 50px;
   padding: 1rem;
   background: white;
   border-radius: 3px;
   box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
   transition: all 0.4s ease;
   margin: 0;
}

input[type="text"].field:focus {
   outline: none;
   box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}

input[type="text"].field:focus+.icons-container .icon-close {
   opacity: 1;
   -webkit-transform: translateX(0);
   transform: translateX(0);
}

input[type="text"].field:focus+.icons-container .icon-search {
   opacity: 0;
   -webkit-transform: translateX(200%);
   transform: translateX(200%);
}