<html dir="ltr" lang="pt-BR" class="fixedsticky-withoutfixedfixed">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="Alex Rodin - contato@alexrodin.info">
      <meta name="keywords" content="MT4, MT5, Metatrader, EA, Expert Advisor, Robô Investidor, RobotCrowd, Forex, Mini Índice, Mini Dolar, Backtest, Backtesting">
      <meta name="description" content="Ferramenta para visualizar, editar e salvar os setups do Metatrader para os robos RobotCrowd (https://robotcrowd.com.br/robos).">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>RobotCrowd V2.9 - Documentação - Gerador De Setup</title>
      <style>/*__STYLES__*/</style>
   </head>
   <body>
      <main role="main">
         <div class="clearfix" id="main-container">
            <article class="main-column">
               <div class="subtle-wrap">
                  <header class="article-header clearfix">
                     <h1>
                        <a href="https://www.robotcrowd.com.br/" target="_blank">RobotCrowd</a> v2.9 - Documentação
                     </h1>
                  </header>
                  <div class="article-body">
                     <div id="filtro-container">
                        <fieldset class="field-container">
                           <input type="text" placeholder="Buscar robô..." class="field" id="search-input" onkeyup="filtrarRobos(this.value)"/>
                           <div class="icons-container">
                              <div class="icon-search"></div>
                              <div class="icon-close" onmousedown="(document.getElementById('search-input').value = '') || 1 && filtrarRobos('');">
                                 <div class="x-up"></div>
                                 <div class="x-down"></div>
                              </div>
                           </div>
                        </fieldset>
                        <div class="cartoes-robos" id="cartoes-robos-container">
                              <!--__HTML_CARDS__-->
                        </div>

                        <!-- @TODO: Documentação dos robos -->
                     
                     </div>

                     <div id="documentacao-robos-container">
                        <!--__HTML_DOCS__-->
                     </div>

                     <div id="editor-setup-container" style="display: none;">
                        <h1>Editor de Setup</h1>
                        <p>
                           Esta é uma ferramenta que lhe auxilia na geração de configurações (setups) para os robos <a href="https://www.robotcrowd.com.br/" target="_blank">RobotCrowd</a>. 
                           Permite também o Download do arquivo de setup (RC-*.set) e o Upload de um setup pronto.
                        </p>
                        <p>
                           Além disso, esta ferramenta busca trazer uma documentação mais detalhada de todos os parametros disponíves para os robos RobotCrowd.
                        </p>
                        <div>
                           <div  class="input-container" style="display: flex;">
                              <label placeholder="Qual é o tipo de setup?" for="tipo-setup" >
                                 <span>Qual é o tipo de setup?</span>
                              </label>
                              <select id="tipo-setup" name="tipo-setup" onchange="onChangeMode()">
                                 <option value="" selected="">Selecione um tipo de setup</option>
                                 <option value="trade">Trading</option>
                                 <option value="otimizacao">Backtest + Otimização</option>
                              </select>
                           </div>
                        </div>
                        <p>&nbsp;</p>
                        
                        <div id="container-setup">
                           <h1>Setup</h1>
                           <div>
                              <textarea id="output-setup" rows="20"></textarea>
                              <br/>
                              <div id="botoes-controle">
                                 <button onclick="downloadSetup()">
                                       Download do Setup
                                    </button>
                                    <label for="load-setup" id="load-setup-label">
                                       Carregar um Setup
                                       <input type='file' id="load-setup" accept='.set' onchange='loadSetup(event)' style="display:none;">
                                    </label>
                                 </div>
                              </div>
                        </div>
                        <p>&nbsp;</p> 
                        <div id="conteudo-formulario"></div>  
                     </div>               
                  </div>
               </div>
            </article>
         </div>
      </main>
      <script type="text/javascript">
      (function(){
         /*__JS__*/
      })();
      </script>
   </body>
</html>